<nav class="navbar navbar-expand-lg pb-5">
    <div class="container-fluid">
        <h2> <a class="ms-5 text-white" [routerLink]="['/home']" routerLinkActive="router-link-active" >START FRAMEWORK</a>
        </h2>
        <form class="d-flex" role="search">
            <a class="p-3" [routerLink]="['/about']" routerLinkActive="back-color text-white rounded" >ABOUT</a>
            <a class="p-3" [routerLink]="['/portfolio']" routerLinkActive="back-color text-white rounded" >PORTFOLIO</a>
            <a class="p-3" [routerLink]="['/gallery']" routerLinkActive="back-color text-white rounded" >GALLERY</a>
            <a class="p-3" [routerLink]="['/contact']" routerLinkActive="back-color text-white rounded" >CONTACT</a>
        </form>
    </div>
</nav>
<p class="bg-primary-subtle  "></p>