<div class="container d-flex flex-column align-items-center justify-content-center ">
    <h1 class="fw-bold text-secondary-emphasis text-center pt-5">CONTACT SECTION</h1>
    <div class="line position-relative">
        <div class="star">
        <i class="fa-solid fa-star "></i>
        </div>
    </div>
    <div class="w-50 my-5">
        <input type="text" class="form-control mb-4 border-0 border-bottom" placeholder="userName">
        <input type="text" class="form-control mb-4 border-0 border-bottom" placeholder="userAge">
        <input type="text" class="form-control mb-4 border-0 border-bottom" placeholder="userEmail">
        <input type="text" class="form-control mb-5 border-0 border-bottom" placeholder="userPassword">
        <button class="btn btn-outline-success btn-sm my-2">send Message</button>
    </div>

</div>
